.Menu {
    display: flex;
    justify-content: end;
}
.open-menu{
    padding: 20px;
    width: 100px;
    margin: 100px;
    margin-right: 60px;
    position: fixed;
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
}

.menu-card {
    position: fixed;
    background-color: #4b7fdf;
    padding: 30px;
    height: 100vh;
    width: 700px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    transform: translateX(100%); 
    transition: transform 0.3s ease-in-out; 
}
.menu-card.show {
    transform: translateX(0); 
}

.menu-card.hide {
    transform: translateX(100%); 
}
.close-menu{
    background-color: transparent;
    border: none;
    border-radius: 20px;
    padding: 20px;
    cursor: pointer;
    align-self: end;
    text-align: end;
    position: fixed;
}
.close-menu img{
    height: 5vh;
}
.menu-card  ul li {
    margin-bottom: 10px;
    font-size: 2em;
    list-style-type: none;
    padding: 30px;
}


.menu-card a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.redes{
    padding: 20px;
}
.redes img{
    height: 3vh;
    width: 50px;
}