
.race-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #5478BB;
    width: 95%;
    height: 90vh;
    margin: 10px;
    border-radius: 20px; 
  }
.tittle{
    color: white;
    font-size: 3em;
    top: 5%;
    border-bottom: 1px solid;
  }
  .card-corrida {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;
    transition: transform 0.3s ease-in-out;
    flex-wrap: nowrap;
  }
  .card-1:hover {
    transform: scale(1.1); /* Aumenta o tamanho do card */
  }
  .card-2:hover {
    transform: scale(1.1); /* Aumenta o tamanho do card */
  }
  .card-3:hover {
    transform: scale(1.1); /* Aumenta o tamanho do card */
  }
  .card-4:hover {
    transform: scale(1.1); /* Aumenta o tamanho do card */
  }
  .card-1 {
    width: 400px;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-image: url('../../assets/avpaulista.png');
    border-radius: 20px;
  }


  .card-2 {
    width: 400px;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-image: url('../../assets/jeddah.png');
    border-radius: 20px;
  }


  .card-3 {
    width: 400px;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-image: url('../../assets/jeddah.png');
    border-radius: 20px;
  }


  .card-4 {
    width: 400px;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-image: url('../../assets/mexico.png');
    border-radius: 20px;
  }


  .card-text {
    z-index: 1;
    font-size: 1.3rem;
    padding: 10px;
  }

  .card h2 {
    font-size: 2rem;
    margin: 0;
  }

  .card p {
    font-size: 1rem;
    margin: 5px 0 0;
  }

  .card::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 0;
  }

  
  .button-container {
    bottom: 40px;
    right: 40px;
  }

  .button {
    border: 2px solid white;
    border-radius: 10%;
    padding: 20px;
    font-size: 1rem;
    color: white;
    background-color: white;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.3s;
  }
.button p{
  text-decoration: none;
}
  .button:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
.fundo{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: end;
    justify-content: center;
    border-radius: 20px;
}