.Footer{
    background-color: #5478BB;
    width: 95%;
    height: 35vh;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: white;
}
.img-footer img{
    height: 100px;
    width: 100%;
}
.img-footer{
    width: 60px;
    height: 100px;
}
.text-final{
    justify-self: end;
    padding: 10px;
}
.menu-footer{
    display: flex;
    flex-wrap: row;
    justify-content: space-around;
    width: 100%;
}
.menu-footer ul{
    font-size: 1.5em;
    list-style: none;
}
.menu-footer ul li{
    padding: 5px;
}