.container-contato {
    background-color: #5478BB;
    margin: 10px;
    border-radius: 20px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: white;
}

h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.text-ctt {
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.text-ctt p {
    font-size: 1.7rem;
    margin-top: 10px;
}

.container-contato form {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #3160b6;
    border-radius: 20px;
}

.form-row {
    padding: 15px;
    width: 45%;  /* Ajusta para que cada linha ocupe 45% da largura, mantendo lado a lado */
    box-sizing: border-box;
}
.form-message{
    padding: 15px;
    width: 56%;  /* Ajusta para que cada linha ocupe 45% da largura, mantendo lado a lado */
    box-sizing: border-box;
    align-self: center;
}
.form-row textarea {
    width: 93%;  /* Deixa o textarea ocupar mais espaço */
}


label {
    font-size: 1.3rem;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: none;
    font-size: 1rem;
}

#message {
    height: 100px;
 
}

.form-row button {
    background-color: #fff;
    color: #365d8a;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    width: 50%;
    margin-top: 10px;
    border: 2px solid #365d8a;
    border-radius: 50px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
    font-size: 1.2rem;
    transition: background-color 0.3s;
}

.form-row button:hover {
    background-color: #cfcfcf;
}
